<div class="container">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="expDate">Expiration Date</label>
      <input type="text" class="form-control" id="expDate">
    </div>

    <div class="form-group">
      <label for="escription">Description</label>
      <input type="text" class="form-control" id="description">
    </div>

    <button type="submit" class="btn btn-success" (onclick)="submit()">Submit</button>

  </form>
</div>

